.index-background {
    background-image: url(https://cdn5.idcgames.com/storage/image/1333/game_home_bg_section_2/default.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-input {
    text-align: center;
}

.centered-input input[type="text"] {
    padding: 10px;
    width: 200px;
    height: 27px;
    border-radius: 5px;
    border: 3px solid grey;
    font-size: 16px;
    background-color: rgba(52, 52, 52, 0.9);
    color: white;
}

.centered-input button {
    padding: 10px;
    width: 200px;
    height: 52px;
    border-radius: 5px;
    border: 3px solid darkorange;
    font-size: 16px;
    background-color: rgba(232, 117, 23, 0.8);
    color: white;
    cursor: pointer;
}

.centered-input button:hover {
    background-color: darkorange;
}
